body {
    padding-top: 40px;
    font-size: 15px;
}

h2 {
    margin-top: 30px;
}

#banner {
    border-bottom: none;
}

.page-header h1 {
    font-size: 4em;
}

footer {
    height: 60px;
    background-color: #f5f5f5;
    margin: 5em 0 0;
}
footer p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

pre.prettyprint {
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 20px;
}

.jumbotron {
    margin-top: 40px;
}
