@import "variables";
@import "mixins";
@import "menu";
@import "home-header";
@import "timeline";
@import "portfolio";
@import "sidebar";
@import "templates";

// Global Components

body {
  overflow-x: hidden;
  .body-font;
  color: @text-color;
  padding-top: 60px;
  font-size: 16px;
}

.text-muted {
  color: @gray;
}

.text-primary {
  color: @brand-primary;
}

p {
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken(@brand-primary, 10%);
}

h1 {
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  .heading-font;
  font-weight: 700;
  color: @title-color;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: @gray-lighter;
}

.bg-darkest-gray {
  background-color: @gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
  .button-variant(white; @brand-primary; @brand-primary);
  .heading-font;
  font-weight: 700;
}

.btn-xl {
  .button-variant(white; @brand-primary; @brand-primary);
  .heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

// Global Section Styles
section {
  padding: 100px 0;
  h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
  }
  h3.section-subheading {
	font-size: 16px;
	.serif-font;
	text-transform: none;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 75px;
  }
}
section.documentation {
  padding-top: 0;
}
@media(min-width:768px) {
  section {
    padding: 120px 0;
  }
  section:first-child {
    padding-top: 20px;
  }
}

// Team Section

.team-member {
  text-align: center;
  margin-bottom: 50px;
  img {
	margin: 0 auto;
	border: 7px solid white;
  }
  h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
  }
  p {
	margin-top: 0;
  }
}

// Clients Aside

aside.clients {
  img {
	margin: 50px auto;
  }
}

// Footer

footer {
  padding: 25px 0 20px;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  p {
    margin-bottom: 0;
  }
  span.copyright {
	line-height: 40px;
	.heading-font;
	text-transform: none;
  }
  ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	.heading-font;
	text-transform: none;
  }
}

// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
	a {
	  display: block;
	  background-color: @gray-darkest;
	  height: 40px;
	  width: 40px;
	  border-radius: 100%;
	  font-size: 20px;
	  line-height: 40px;
	  color: white;
	  outline: none;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	  &:hover,
	  &:focus,
	  &:active {
		background-color: @brand-primary;
	  }
	}
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: @brand-primary;
}

::selection {
  text-shadow: none;
  background: @brand-primary;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: @brand-primary;
}

pre.prettyprint {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.documentation h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
