#templates.portfolio .portfolio-item {
  .template-features {
    .label {
      font-size: 70%;
      font-weight: normal;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: normal;
    }
  }
  .portfolio-caption {
    padding: 25px 15px;

    .label {
      opacity: 0.7;
    }
    .label:hover {
      opacity: 1;
    }
  }
}
