<section id="portfolio" class="portfolio bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Built with Couscous</h2>
                <h3 class="section-subheading text-muted">
                    Have a look at those websites built with Couscous.
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://bref.sh/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/bref.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>Bref</h4>
                    <p class="text-muted">
                        Serverless PHP applications on AWS Lambda
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://php-di.org" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/php-di.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>PHP-DI</h4>
                    <p class="text-muted">
                        The PHP dependency injection container for humans
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://gnugat.github.io/redaktilo/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/redaktilo.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>Redaktilo</h4>
                    <p class="text-muted">
                        An easy "line manipulation" PHP lib: jump, insert and do anything!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://myclabs.github.io/jquery.confirm/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/jquery-confirm.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>jquery.confirm</h4>
                    <p class="text-muted">
                        Confirm dialogs for buttons and links using jQuery and Bootstrap
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://foilphp.github.io/Foil/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/foil.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>Foil</h4>
                    <p class="text-muted">
                        PHP Template Engine for Native PHP Templates.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://obullo.com/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/obullo.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>Obullo</h4>
                    <p class="text-muted">
                        Easy to use and well tested PHP7 components.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://docs.filegator.io/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/filegator.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>FileGator</h4>
                    <p class="text-muted">
                        Open-source PHP script for managing online files and folders.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://myclabs.github.io/Work/" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/myclabs-work.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>MyCLabs\Work</h4>
                    <p class="text-muted">
                        A PHP work queue library for abstracting backends
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="https://github.com/CouscousPHP/Couscous" class="portfolio-link">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/pr.png" class="img-responsive">
                </a>
                <div class="portfolio-caption">
                    <h4>Add your own</h4>
                    <p class="text-muted">Send a pull request to add your own.</p>
                </div>
            </div>
        </div>
    </div>
</section>
