{% extends "default.twig" %}

{% block content %}

    <section id="templates" class="portfolio bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Templates</h2>
                    <h3 class="section-subheading text-muted">
                        Here is a growing list of Couscous templates you can use for your website.
                    </h3>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Light" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Light/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Couscous Light</h4>
                        <p class="text-muted">The default template.</p>
                        <p class="template-features">
                            <span class="label label-default">optional menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Dark" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Dark/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Couscous Dark</h4>
                        <p class="text-muted">A dark template.</p>
                        <p class="template-features">
                            <span class="label label-default">optional menu</span>
                            <span class="label label-default">sections</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Basic" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Basic/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Basic template</h4>
                        <p class="text-muted">A basic template example.</p>
                        <p class="template-features">
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-ReadTheDocs" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-ReadTheDocs/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Read The Docs template</h4>
                        <p class="text-muted">template based on readthedocs.org Sphinx theme.</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/pnowy/CouscousNativeTemplate" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/pnowy/CouscousNativeTemplate/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Couscous Native Template</h4>
                        <p class="text-muted">gray/white theme with fontawesome icons</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Couscous/blob/master/website/templates.twig" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/pr.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Add your own</h4>
                        <p class="text-muted">
                            <a href="https://github.com/CouscousPHP/Couscous/blob/master/website/templates.twig">Send a pull request</a> to add your own to the list.
                        </p>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/elephantly/ElephantlyCouscous" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/elephantly/ElephantlyCouscous/master/img/ElephantlyCouscous.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Elephantly Template</h4>
                        <p class="text-muted">A theme for couscous by Elephantly based on milligram</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/ovac/ovac-couscous-template" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/ovac/ovac-couscous-template/master/img/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>OVAC Couscous Template</h4>
                        <p class="text-muted">A theme for couscous by ovac4u inspired by the elephantly template.</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">addthis plugin</span>
                            <span class="label label-default">google analytics</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/moqmar/mintlook-couscous" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://static.mo-mar.de/couscous-mintlook.jpg" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Mintlook Template</h4>
                        <p class="text-muted">Lightweight, simple and feature-rich template with client-side search.</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">pagination (previous/next)</span>
                            <span class="label label-default">search</span>
                            <span class="label label-default">multi-language</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="https://github.com/dracula/couscous">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-responsive" src="https://raw.githubusercontent.com/dracula/couscous/master/screenshot.png">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dracula Theme</h4>
                        <p class="text-muted">theme based on <a target="_blank" href="https://draculatheme.com/">DraculaTheme</a></p>
                        <p class="template-features">
                            <span class="label label-default">optional menu</span>
                            <span class="label label-default">sections</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                

                
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}
