{% extends "default.twig" %}

{% block content %}

    <section id="templates" class="portfolio bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Templates</h2>
                    <h3 class="section-subheading text-muted">
                        Here is a growing list of Couscous templates you can use for your website.
                    </h3>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Light" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Light/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Couscous Light</h4>
                        <p class="text-muted">The default template.</p>
                        <p class="template-features">
                            <span class="label label-default">optional menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Dark" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Dark/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Couscous Dark</h4>
                        <p class="text-muted">A dark template.</p>
                        <p class="template-features">
                            <span class="label label-default">optional menu</span>
                            <span class="label label-default">sections</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Basic" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Basic/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Basic template</h4>
                        <p class="text-muted">A basic template example.</p>
                        <p class="template-features">
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-ReadTheDocs" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-ReadTheDocs/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Read The Docs template</h4>
                        <p class="text-muted">template based on readthedocs.org Sphinx theme.</p>
                        <p class="template-features">
                            <span class="label label-default">menu</span>
                            <span class="label label-default">code highlighting</span>
                            <span class="label label-default">responsive</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Couscous/blob/master/website/templates.twig" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/pr.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Add your own</h4>
                        <p class="text-muted">
                            <a href="https://github.com/CouscousPHP/Couscous/blob/master/website/templates.twig">Send a pull request</a> to add your own to the list.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}
