{% extends "default.twig" %}

{% block content %}

    <section id="templates" class="portfolio bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Templates</h2>
                    <h3 class="section-subheading text-muted">
                        Here is a growing list of Couscous templates you can use for your website.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Default" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Default/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Default template</h4>
                        <p class="text-muted">The default Couscous template.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Template-Basic" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://raw.githubusercontent.com/CouscousPHP/Template-Basic/master/screenshot.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Basic template</h4>
                        <p class="text-muted">A basic template to get you started to write your own.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://github.com/CouscousPHP/Couscous" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/pr.png" class="img-responsive">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Add your own</h4>
                        <p class="text-muted">Send a pull request to add your own to the list.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
